<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_Q3gUVNEXA1JD4VZ5TjjO0bBUTcTTUqY</string>
	<key>GCM_SENDER_ID</key>
	<string>256227047071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.first</string>
	<key>PROJECT_ID</key>
	<string>tops-firebase-c4f30</string>
	<key>STORAGE_BUCKET</key>
	<string>tops-firebase-c4f30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256227047071:ios:274f15db7d2f4280db94aa</string>
</dict>
</plist>